body {
    background-color: #FBFBFB;
    overflow-x: hidden;
}

.bg-red {
    background-color: #c51b29;
}

.text-white {
    color: #FCF7F8;
}

.title {
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
    font-style: normal;
    color: black;
    padding-top: 100px;
}

.content {
    color: gray;
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
    font-style: normal;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    padding: 10px;
}

.tab {
    list-style-type: none;
}

.justice {
    text-align: justify;
}

.col-padded {
    padding-left: 10%;
    padding-right: 10%;
}

.parallax-header {
    background: #000;
    background: url("./imgs/HHS-angled.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
}

.topper {
    margin-top: -100px;
    box-shadow: 0 0 20px;
    background-color: #FBFBFB;
}

.portrait {
    margin-top: 20px;
    margin-bottom: -60px;
    box-shadow: 0 0 20px;
    background-color: #FBFBFB;
}

.header-content {
    box-shadow: 0 0 20px;
    background-color: #FBFBFB;
    margin-top: calc(40vh - 40px);
    padding: 10px;
    padding-bottom: 5px;
}

.dates {
    color: rgb(120, 120, 120);
}

.event-container>.event-title {
    margin-bottom: 10px;
}

.event-title {
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
    font-size:large;
}

.event-description {
    
}